@{
    ViewBag.Title = "About";
}

<div style="background-image: url('../../Images/purpBan.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    ">
    <h1 style="text-align: center">About us</h1>
</div>

<div class="row" style=" padding-top: 3%"; border: 5px solid #000000">
    <div class="col-md-6" >
        <h2>Who we are</h2>
        <p>
            Our Team consists of professionals and pop-culture addicts with diverse backgrounds.  
            Many of us have a background in Commerce, Retail, Comics and Pop-Culture.  
            It is critical for our staff to understand the importance of pop-culture, 
            comics and the ongoing needs of our fans and customers.  
            Our goal is to run our operation and keep our fans inspired and provide our community with the 
            ultimate pop-culture escape.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="~/Images/1.Who.jpg" style="height: 350px; width: 500px"/>
        </p>
    </div> 
</div>

<div class="row" style=" padding-top: 3%"; border: 5px solid #000000">
    <div class="col-md-6">
        <p>
            <img src="~/Images/3.what.jpg" style="height: 350px; width: 500px" />
        </p>
    </div>
    <div class="col-md-6">
        <h2>What we do</h2>
        <p>
            We are the leading provider of collectible comics and pop-culture related merchandise in Gauteng.
            We focus on providing comic and pop-culture products that are first to market,
            licensed and provide the highest levels of entertainment and quality.
            Our inventory includes comics, graphic novels, statues, life-size statues, apparel, games, model cars,
            merchandise and so much more.  Our large inventory and international partner network
            allows us the flexibility to easily manage our customer’s specific and unique requests.
            We also buy and sell previously owned comics and collectibles.
        </p>

    </div>
</div>

<div class="row" style=" padding-top: 3%"; border: 5px solid #000000">
    <div class="col-md-6">
        <h2>Where we came from</h2>
        <p>
            Started late 2018 in South Africa, Comic Warehouse opened its doors for the  ultimate
            3,000m2 retail experience. We are located as a destination and to service the 
            greater Johannesburg walk-in customer at our retail experience as well as the rest 
            of Southern Africa through our online or e-commerce capabilities.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <img src="~/Images/2.where.jpg" style="height: 350px; width: 500px" />
            
        </p>

    </div>
</div>

<div class="row" style=" padding-top: 3%"; border: 5px solid #000000">
    <div class="col-md-6">
        <img src="~/Images/4.belive.jpg" style="height: 350px; width: 500px" />
    </div>
    <div class="col-md-6">
        <h2>What we belive in</h2>
        <p>
            By understanding our customer and fan needs, Our growth over the last 2 years is a direct result of our belief that our fans and
            customers will become more enriched by our offering and will ultimately benefit from
            the escape and content that we provide through various mediums.
            Finally, we believe the sharing of these different worlds and fandoms contributes
            to the creative fibre that will build our growing community well into the future.
        </p>

    </div>
</div>

