@{
    ViewBag.Title = "Favorites";
}

<div style="background-image: url('../../Images/blueban.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    ">
    <h1 style="text-align: center">Favorites</h1>
</div>

<div>

</div>

<div class="row" style=" padding-top: 3%">
    <div class="col-md-4" style="background-color: #8CD893">
        <p><br></p>
        <p>
            <img src="~/Images/1.300.jpg" style="height: 400px; width: 350px; text-align : center" />
        </p>
        <h3 style="text-align: center">300</h3>
        <p>
            300 is a historically inspired 1998 comic book limited series written and
            illustrated by Frank Miller with painted colors by Lynn Varley.
            The comic is a fictional retelling of the Battle of Thermopylae and
            the events leading up to it from the perspective of Leonidas of Sparta.
        </p>

    </div>
    <div class="col-md-4" style="background-color: #A8E4AD">
        <p><br></p>
        <p>
            <img src="~/Images/2.AstroCity.jpg" style="height: 400px; width: 350px; text-align : center" />
        </p>
        <h3 style="text-align: center">Astro City</h3>
        <p>
            Kurt Busiek's Astro City is an American superhero anthology comic
            book series centered on a fictional American city of that name.
            Created and written by Kurt Busiek, the series is mostly illustrated
            by Brent Anderson, with character designs and painted covers by Alex Ross.
        </p>

    </div>
    <div class="col-md-4" style="background-color: #8CD893">
        <p><br></p>
        <p>
            <img src="~/Images/3.batmanReturns.jpg" style="height: 400px; width: 350px; text-align : center" />
        </p>
        <h3 style="text-align: center">Batman:The Dark Knight Returns</h3>
        <p>
            It tells an alternative story of Bruce Wayne,
            who at 55-years-old returns from retirement to fight crime
            and faces opposition from the Gotham City police force and the United States government.<br><br>
        </p>

    </div>
</div>

<div class="row" style=" padding-top: 3%">
    <div class="col-md-4" style="background-color: #A8E4AD">
        <p><br></p>
        <p>
            <img src="~/Images/4.BatmanAsylm.jpg" style="height: 400px; width: 350px; text-align : center" />
        </p>
        <h3 style="text-align: center">Batman: Arkham Asylum</h3>
        <p>
            The story follows the vigilante Batman,
            who is called upon to quell a maddening riot taking
            place in the infamous Arkham Asylum, a psychiatric
            hospital housing the most dangerous supervillains
            in Gotham City.<br><br><br>
        </p>

    </div>
    <div class="col-md-4" style="background-color: #8CD893">
        <p><br></p>
        <p>
            <img src="~/Images/5.Cityofglass.jpg" style="height: 400px; width: 350px; text-align : center" />
        </p>
        <h3 style="text-align: center">City of Glass</h3>
        <p>
            The story follows a man named Daniel Quinn.
            One night, he receives a call meant for a private detective
            (strangely enough named Paul Auster, the same name as the author of the story).
            Quinn is intrigued by the phone call, and takes the case.
            His employers end up being a man, named Peter Stillman, and his wife.
        </p>

    </div>
    <div class="col-md-4" style="background-color: #A8E4AD">
        <p><br></p>
        <p>
            <img src="~/Images/6.KingdomCome.jpg" style="height: 400px; width: 350px; text-align : center"/>
        </p>
        <h3 style="text-align: center">Kingdom Come</h3>
        <p>
            This Elseworlds story is a deconstructionist tale set in a 
            future that deals with a growing conflict between the visibly 
            out-of-touch "traditional" superheroes, and a growing population 
            of largely amoral and dangerously irresponsible new vigilantes, 
            in many cases the offspring of the traditional heroes.
        </p>
    </div>
</div>
