@{
    ViewBag.Title = "News";
}

<style>
    button {
        width: 50%;
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align-items: end;
        top : 99%;
    }
</style>

<div style="background-image: url('../../Images/yelban.jpg'); 
      background-repeat: no-repeat; 
      background-size: 100% 100%; 
   ">
    <h1 style="text-align: center">Latest News</h1>
</div>


<div class="row">
    <div class="col-md-6" style="background-color: #81CC8A">
        <p><br></p>
        <p style="text-align: center">
            <img src="~/Images/news1.JPG" style="height:400px; width:550px; border: 5px solid #000000" />
        </p>
        <h3 style="text-align: center">
            Black Widow: The X-Men's First Movie Problem Could Kill Her New Sidekick
        </h3>
        <p style="text-align: center">
            <a href="https://www.cbr.com/black-widow-sidekick-powers-melting/">
                <button>More on Black Widows movie?</button>
            </a>
        </p>
    </div>
    <div class="col-md-6" style="background-color: #7BD385">
        <p><br></p>
        <p style="text-align: center">
            <img src="~/Images/news2.JPG" style="height:400px; width:550px; border: 5px solid #000000" />
        </p>
        <h3 style="text-align: center">The Hulk: Cates & Ottley Are Marvel's Post-Immortal Creative Team</h3>
        <p style="text-align: center">
            <a href="https://www.cbr.com/marvel-hulk-donny-cates-ryan-ottley/">
                <button>HULK SMASH</button>
            </a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="background-color: #92CA98">
        <p><br></p>
        <p style="text-align: center">
            <img src="~/Images/news3.JPG" style="height:400px; width:350px; border: 5px solid #000000" />
        </p>
        <h3 style="text-align: center">
            X-Men: Hellfire Gala Sets Up a MONUMENTAL Mutant Mystery *Spoiler Alert*
        </h3>
        <p style="text-align: center">
            <a href="https://www.cbr.com/x-men-hellfire-gala-emma-frost-mystery/">
                <button>Solve the Mystery?</button>
            </a>
        </p>
    </div>
    <div class="col-md-4" style="background-color: #B6E8BB">
        <p><br></p>
        <p style="text-align: center">
            <img src="~/Images/news4.JPG" style="height:400px; width:350px; border: 5px solid #000000" />
        </p>
        <h3 style="text-align: center">
            Marvel's Heroes Reborn Turns a Major MCU Location Into a Cosmic Prison
        </h3>
        <p style="text-align: center">
            <a href="https://www.cbr.com/heroes-reborn-knowhere-prison/">
                <button>PRISON!</button>
            </a>
        </p>
    </div>
    <div class="col-md-4"style="background-color: #B7DBBA">
        <p><br></p>
        <p style="text-align: center">
            <img src="~/Images/news5.JPG" style="height:400px; width:350px; border: 5px solid #000000"  />
        </p>
        <h3 style="text-align: center">
        Lobo and Crush Are About to Have DC's Most Chaotic Family Reunion
        </h3>
        <p style="text-align: center">
            <a href="https://www.cbr.com/lobo-daughter-crush-chaotic-reunion/">
                <button>Family Reunion</button>
            </a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6" style="background-color: #B6E8BB">
        <p><br></p>
        <p style="text-align: center">
            <img src="~/Images/news6.JPG" style="height:400px; width:550px; border: 5px solid #000000" />
        </p>
        <h3 style="text-align: center">
            Black Widow Just Sent Spider-Girl Down Spider-Woman’s Dark Path
        </h3>
        <p style="text-align: center">
            <a href="https://www.cbr.com/black-widow-arana-spider-girl-mission/">
                <button>Bit of girl trouble?</button>
            </a>
        </p>
    </div>
    <div class="col-md-6" style="background-color: #A4D5A8">
        <p><br></p>
        <p style="text-align: center">
            <img src="~/Images/news7.JPG" style="height:400px; width:550px; border: 5px solid #000000" />
        </p>
        <h3 style="text-align: center">
            The Court of Owls Takes Out a Batman: The Animated Series DCAU Character
        </h3>
        <p style="text-align: center">
            <a href="https://www.cbr.com/batman-adventures-continue-court-of-owls-talon-mayor-hill/">
                <button>I'M BATMAN...</button>
            </a>
        </p>
    </div>
</div>